main {
    margin: 0 auto;
    padding: 5px;
    width: 340px;
    height: 350px;
    /* background-color: rgba(0, 0, 0, 0.603); */
    transform: translateY(20%);
    position: relative;
}
.square {
    background-color: rgb(214, 91, 91);
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 5px;
    position: relative;
}
.square:hover {
    background-color: aliceblue;
    border: 1px solid black;
}

.o {

}
.o::after{
    content:'O';
    text-align: center;
    /* line-height: 100%; */
    font-size: 5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.o {

}
.x::after{
    content:'X';
    text-align: center;
    /* line-height: 100%; */
    font-size: 5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}